<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ou.reader"
    android:versionCode="4"
    android:versionName="0.0.4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:name="com.ou.reader.ReaderApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.ou.reader.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
           <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.ou.reader.ui.activity.LoginActivity">
        </activity>
        <activity android:name="com.ou.reader.ui.activity.RegisterActivity"
                  android:theme="@style/Translucent" />
        <activity android:name="com.ou.reader.ui.activity.MainActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ou.reader.ui.activity.SearchActivity" />
        <activity android:name="com.ou.reader.ui.activity.SearchByAuthorActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookDetailActivity" />
        <activity android:name="com.ou.reader.ui.activity.BooksByTagActivity" />
        <activity
            android:name="com.ou.reader.ui.activity.ReadActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />
        <activity android:name="com.ou.reader.ui.activity.TopCategoryListActivity" />
        <activity android:name="com.ou.reader.ui.activity.SubCategoryListActivity" />
        <activity android:name="com.ou.reader.ui.activity.SubjectBookListActivity" />
        <activity android:name="com.ou.reader.ui.activity.SubjectBookListDetailActivity" />
        <activity android:name="com.ou.reader.ui.activity.TopRankActivity" />
        <activity android:name="com.ou.reader.ui.activity.SubRankActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookDiscussionActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookReviewActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookHelpActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookMaleActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookDiscussionDetailActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookReviewDetailActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookHelpDetailActivity" />
        <activity android:name="com.ou.reader.ui.activity.BookDetailCommunityActivity" />
        <activity android:name="com.ou.reader.ui.activity.GirlBookDiscussionActivity" />
        <activity android:name="com.ou.reader.ui.activity.MyBookListActivity" />
        <activity android:name="com.ou.reader.listener.activity.ListenHomeActivity" />




        <service android:name="com.ou.reader.service.DownloadBookService" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105670298" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.ou.reader.listener.activity.PlayActivity"
            android:launchMode="singleTask" >
        </activity>
        <service
            android:name="com.ou.reader.listener.service.MusicService"
            android:priority = "1000"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5875ffc57f2c743c34000994" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
    </application>

</manifest>
